.App {
  text-align: center;
  /* background-color: blue; */
  background-image: url("https://images8.alphacoders.com/548/548142.jpg");
  /* background-image: url("https://p4.wallpaperbetter.com/wallpaper/35/590/370/pokemon-pictures-for-desktop-wallpaper-preview.jpg"); */
  /* background-size: contain; */
  background-repeat: repeat;
  background-position: center;
  height: fit-content;
}

.App > div > div{
  height: max-content;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.felipe{
  background-color: black;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
}