.Loading {
    background: url("https://i.pinimg.com/originals/15/3c/fb/153cfb7dcfb406a368a3dc4e35e37efb.gif");
    background-position: center;
    background-size:cover;
    background-color: antiquewhite;
}
