.DivConteiner{
    display: flex;
    justify-content: center;
    padding: 10px;
}
.Conteiner{
    display:flex;
    flex-direction:column;
    justify-content:center;
    padding: 0px;
    margin: 0px;
}

.DetailCard {
    display: flex;
    justify-content: center;
}
