.Container{
    display: flex;
    flex-direction: row;
    padding: 4px;
    border-radius: 15px;
    border: 3px solid white;
    flex-wrap: wrap;
    gap: 0.8em;
    margin: 0%;
    justify-content: center;
    background-image:url("https://p4.wallpaperbetter.com/wallpaper/35/590/370/pokemon-pictures-for-desktop-wallpaper-preview.jpg");
    background-position: center;
    background-repeat: repeat;
    width: 100%;
    height: 100%;
    text-transform: capitalize;
}

.Container > NotFoundPokemons {
    background-color: black;
}

.Paginated{
    border: 1px solid yellow;
    justify-content: center;
    height: fit-content;
    border-radius: 15px;
    padding: 5px;
    font-size: 12px;
    color: aliceblue;
}
.Paginated > button {
    border: 1px solid black;
    padding: 5px;
    border-radius: 10px;
    background-color: darkgoldenrod;
}
.Paginated > span {
    border: 1px solid black;
    background-color: blue;
    padding: 5px;
}

.active {
    background-color: rgb(88, 87, 73);
    color: whitesmoke;
  
    padding: 6px 8px;
    min-width: 32px;
    min-height: 18px;
    border-radius: 8px;
  
    margin-bottom: 5px;
    border: 1px solid rgb(149 148 134);
    font-size: 12px;
    font-weight: 700;
  
    display: inline-block;
    text-align: center;
    cursor: pointer;
}

.dtpagination .dtitem .dtlink {
    padding: 6px 8px;
    min-width: 32px;
    min-height: 18px;
    border-radius: 8px;
    background-color: rgba(149, 148, 134, 0.662);
    margin-bottom: 5px;
    border: 1px solid rgb(149 148 134);
    font-size: 12px;
    font-weight: 700;
    color: #281a1a;
    display: inline-block;
    text-align: center;
    cursor: pointer;
  }
  
  .dtpagination .dtitem .dtlink:hover {
    background-color: rgb(88, 87, 73);
    color: whitesmoke;
  }
  