.navBar{
    display:flex;
    justify-content:space-between;
    padding: 5px;
    margin: 0px;
}
.logo{
    width: 110px;
    height: 110px;
}
.header{
    display: flex;
    align-items: center;
    height: 15%;
}
.buttonContent{
    display: flex;
    padding: 20px;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
}

.btnPrimary {
   
    background-color: #FFCB05;
    border: 2px solid #422800;
    border-radius: 30px;
    box-shadow: #422800 4px 4px 0 0;
    color: #422800;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    padding: 0 18px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
    height: fit-content;
  }
  
  .btnPrimary:hover {
    background-color: #fff;
  }
  
  .btnPrimary:active {
    box-shadow: #422800 2px 2px 0 0;
    transform: translate(2px, 2px);
  }
  
  @media (min-width: 768px) {
      .btnPrimary {
      min-width: 120px;
      padding: 0 25px;
    }
  }